.git
.github
.cache
.npm

build
run
logs
results
zk_build
zk_inputs
zk_proofs

hardhat/node_modules
hardhat/cache
hardhat/artifacts
node_modules
circuits/node_modules

*.o
*.d
*.a
*.so
*.dylib
*.exe
*.pyc
__pycache__

.env
.env.*
!.env.example
config/*.local.env

.DS_Store
Thumbs.db
.vscode
.idea
