root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.{cpp,hpp,h,c}]
indent_style = space
indent_size = 2

[*.{js,mjs,json,yml,yaml,md,circom}]
indent_style = space
indent_size = 2

[*.{sh,env,example}]
indent_style = space
indent_size = 2

[Makefile]
indent_style = tab

[*.md]
trim_trailing_whitespace = false
